/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

@media screen and (max-width: 782px) {
  #wpadminbar #wp-admin-bar-shifter {
    display: block;
    position: static;
  }
}

.swal2-actions button {
  border-radius: 100px !important;
}

.swal2-confirm {
  background: linear-gradient(90deg, rgb(188, 78, 156), rgb(248, 7, 89))
    rgb(188, 78, 156) !important;
}
