---
version: 2
jobs:
  build:
    docker:
      - image: cimg/php:8.2

    working_directory: ~/shifter-wp-mu

    steps:
      - checkout
      - restore_cache:
          keys:
            - vendor-cache-{{ checksum "composer.lock" }}
      - run:
          command: composer install
      - save_cache:
          key: vendor-cache-{{ checksum "composer.lock" }}
          paths:
            - ~/shifter-wp-mu/vendor
      # - run:
      #     command: composer cs-fix
      - run:
          command: composer cs-lint

  release:
    docker:
      - image: cimg/go:1.23
    working_directory: ~/shifter-wp-mu
    steps:
      - checkout
      - run: go get -u github.com/tcnksm/ghr
      - run:
          name: tag release
          command: |
            if [ "${CIRCLE_TAG-NONE}" != "NONE" ]; then
              make pkg
              ghr -v
              ghr -replace ${CIRCLE_TAG} pkg/
            else
              # create basename archive
              mkdir pkg
              tar -cvzf pkg/shifter-wp-mu.${CIRCLE_BRANCH##*/}.tgz -T files
              echo skipped
            fi
      - store_artifacts:
          path: ~/shifter-wp-mu/pkg
          destination: pkg

workflows:
  version: 2
  build-and-release:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - build
          filters:
          #   branches:
          #     only: master
            tags:
              only: /.*/
